.Product__section-name-list {
	background: #ffffff;
	box-shadow: 04px 8px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 1rem;
	border-radius: 8px 8px 8px 8px;
	display: flex;
	padding: 1rem 0;
	width: 100%;
	text-align: center;
}

.Product__avatar-list {
	
	margin-right: 1rem;
	width: 120px;
	height: 180px;
	display: flex;
	margin-left: 1rem;
}

.letra{
text-align: bottom;
align-content: center;

}